<h1>About Us</h1>
<p>
Surrey Biodiversity Information Centre (SBIC) collects, manages and disseminates</br> information on the flora, fauna and habitats of Surrey. In doing so the Centre </br>
seeks to hold as comprehensive a record of the wildlife of Surrey as possible.
</p>

<p>
The Centre holds as its core belief that informed decision making and a better </br> understanding of the landscape of Surrey can only be achieved through access to </br> relevant information on the distribution and abundance of species and habitats </br>
across the County.
</p>

