<h1>Enquiry Service</h1>
<p>
1. Download the form
An information request form is available to download as an interactive PDF document. This allows you to complete the form on your screen before returning it to us by email, fax or post. (In order to save the information and email the form, you will need pdf-creating software.)
</p>

<p>
2. Complete the form
In order for us to be able to locate your enquiry area precisely, please include a map and, if possible, a grid reference.
</p>

<p>
3. Send it
Please ensure the tick box on page 2 is checked before the form is submitted. This is required in order to process all data requests.

You can find our email address, fax number and postal address at the top of the form or on our contact page.
</p>

<a href= "enquiry.pdf" class="download_button round"> 
Download </a>
