<h1>Welcome to the SBIC</h1>
<p>
  This is the extend website for the
  <a href="http://www.surreywildlifetrust.org/">Surrey Biodiversity Information Centre</a>
  sample pages.
</p>

<h2>Information and Learning</h2>
<p>
<img src="assets/3.jpeg" align="right">
Most of us are now aware of the pressures placed on our wildlife by development in the modern world. Recently we have seen a proliferation of legislation, introduced by both the UK Government and the EU, designed to protect our biodiversity and safeguard our countryside. 
</p>

<p>
This part of the website will introduce some of the ways the BRC can support local societies, schools and individuals who want to begin recording or learn new skills to help them improve their recording. It will also provide you with some background information and highlight some aspects of Kent's communities and environments that we are involved in. 
</p>

<p>
This part of the website will introduce some of the ways the BRC can support local societies, schools and individuals who want to begin recording or learn new skills to help them improve their recording. 
</p>

<h2>News</h2>
<p>
So, you’re interested in wildlife and would like to know more about them! Don't miss the exciting wildlife <a href="../news">News</a> around the County. Something for everyone, whatever age!
</p>

<h2>Enquiry service</h2>
<p>
<img src="assets/4.jpg" align="right">
The Sussex Biodiversity Record Centre provides a biodiversity </br>
enquiry service, also known as a data search.
</p>

<p>
For SxBRC staff to undertake an enquiry on your behalf, you </br>
will need to fill out an information request form. This is </br>
downloadable as an interactive PDF. Please either email, fax </br>
or post the completed form to us with a map showing the </br>
area for which you require information. 
</p>

<p>
We endeavour to respond to your request within five working </br>
days of receiving your form, or for commercial enquiries </br>
within five working days of a fee being agreed. Please see </br>
our charging policy for details of this fee. 
</p>

<h2>How to get involved?</h2>

<p>
There are three ways in which you can get involved recording, monitoring and contributing biological data to the Record Centre:</br>
You can <a href="../contact">contact</a> us through the email or phones.</br>
Using the features <a href="../records/new">"submit"</a> to record the event to us.</br>
</p>









