<h1>Pages#survey</h1>

<p> Surrey is a county rich in wildlife. Despite its small size and proximity to London, it supports a range of habitats and species of local, national and international importance. The varied geology and topography, together with a lengthy human influence, have sustained Surrey's woodland, heathland, chalk grassland, open water and rivers.</p>
<p>Surrey is the most wooded county in England and its heathland is of international importance. The North Downs supports chalk grassland and Surrey acts as a stronghold for species such as the silver-spotted skipper. Surrey Wildlife Trust is adopting a bold approach towards delivering and influencing wildlife conservation and biodiversity and encouraging people to understand and enjoy wildlife and wild spaces. This is based on our vision - to create a 'Living Landscape', rich in wildlife and valued by all.</p>
