<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.surreywildlifetrust.org/sbic/">Official website: Surrey Biodiversity Information Centre</a></li>
    </ul>
  </nav>

<span id="bottomsmall" style="color:brown;"><b>
The Surrey Wildlife Trust Ltd is a company limited by guarantee, Registered in England No: 645176.
<br>
President: Dr. David Bellamy OBE. VAT No: 791.3799.78.
<br>
Registered Charity No: 208123. Charities Aid Foundation "Give As You Earn." Registration No: 005805.<b>
</span>
</footer>


